@model IEnumerable<Product>
@{
    ViewBag.Title = "Product Manager";
    Layout = "../Shared/_Layout.cshtml";
}

// For the Product Manager Page
<body>
    <h1>Product Manager</h1>

    <label for="product">Product:</label>
    <select name="product" id="product">
        @foreach (Product product in Model)
        {
            <option value="@product">Select a product...</option>
        }
    </select>

    <table>
        <thread>
            <tr>Code</tr>
            <tr>Name</tr>
            <tr>Price</tr>
            <tr>Release Date</tr>
            <tr>Genre</tr>
            <tr></tr>
        </thread>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug">@product.Code</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Product" asp-route-id="@product.ProductId" asp-route-slug="@product.Slug">@product.Name</a>
                    </td>
                    <td>@product.Price</td>
                    <td>@product.ReleaseDate</td>
                    <td>@product.Genre.Name</td>
                    <td><asp:button runat="server" id="btnEdit" Text="Edit" OnClick="btnEdit_Click" /></td>
                    <td><asp:button runat="server" id="btnDelete" Text="Delete" OnClick="btnDelete_Click" /></td>
                </tr>
            }
        </tbody>
    </table>
    <asp:Button runat="server" id="btnAdd" Text="Add Product" OnClick="btnAdd_Click" />
</body>